# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# Javascript/Node
node_modules/
dist/
coverage/

# OS
.DS_Store
Thumbs.db