# Web Framework & Server
fastapi
uvicorn
pydantic
pydantic-settings

# Database integration
supabase

# Background Scheduling 
apscheduler

# Tools & Utilities
python-dotenv
pytz
requests
aiohttp

# AI / ML - Google Gemini
google-generativeai

# Computer Vision & Proctoring Models
opencv-python-headless
dlib
numpy
tensorflow-cpu
mediapipe

# Add-ons for CV utilities 
imutils
scipy